logs/*
__pycache__/
dcgm/
outputs/
wandb/
artifacts/
secrets.env
scripts/

*.log
*.txt
*.jpg
*.png
*.jpeg
*.out
*.err
*.ipynb
*.csv

# specific files
jupyter.sh
colext_config.yaml
buildkitd.toml
reinstall_colext.sh
submit_colext_experiments.sh
